add:
{
    ; invisible block above fence
    "origin" "11432 -4545 54"
    "mins" "-186 -13 -176"
    "maxs" "186 13 176"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}
; --- block strafe jumping around saferoom on bridge to ledge-hang out of map
{
    ; invisible block on side of train car
    "origin" "10230 -486 154"
    "mins" "-70 -6 -218"
    "maxs" "70 6 218"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_physics_blocker"
}

; =====================================================
; ================= NON-RESTRICTIVE ===================
; =====================================================

add:
{
    "solid" "6"
	"disableshadows" "1"
    "origin" "10421 -1132 -64"
    "angles" "0 92 0"
    "model" "models/props_vehicles/train_box_small.mdl"
    "classname" "prop_dynamic"
}

;----------FILE MODIFICATION (YY/MM/DD): [2020/12/14] ---------------||
;----------BY: Lunatix----------------------||

add:
{
	"solid" "6"
	"origin" "10770 -8192 -12"
	"angles" "0 -97 0"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "10869 -8187 -12"
	"angles" "0 -89 0"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "10960 -8192 -12"
	"angles" "0 -89 0"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "11067 -8181 -12"
	"angles" "0 -89 0"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic"
}

{
	"solid" "6"
	"origin" "10448 -8068 -65"
	"angles" "0 -92 0"
	"model"	 "models/props_vehicles/train_orecar.mdl"
	"classname"	"prop_dynamic"
}