; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block jumping to wooden board from saferoom door for jesus spots/camping spots
{
	; invisible block above wooden board
	"origin" "4144 -1423 391"
	"mins" "-48 -1 -39"
	"maxs" "48 1 39"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- prevent SI getting unteleportably stuck behind fence near saferoom
{
	; cardboard boxes near fence
	"solid" "6"
	"origin" "3644 -1736 100"
	"angles" "0 0 0"
	"model" "models/props/cs_militia/boxes_frontroom.mdl"
		"disableshadows" "1"
	"classname" "prop_dynamic"
}
{
	; invisible block above boxes to boost height
	"origin" "3671 -1713 132"
	"angles" "0 -15 0"
	"mins" "-41 -15 -34"
	"maxs" "41 15 42"
	"boxmins" "-41 -15 -34"
	"boxmaxs" "41 15 42"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- prevent SI getting unteleportably stuck behind two hedges near saferoom
{
	; invisible block in hole near hedge (outside fence)
	"origin" "3668 -1664 132"
	"mins" "-60 -32 -36"
	"maxs" "60 32 60"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	; invisible block in hole near hedge (inside fence)
	"origin" "3408 -1760 144"
	"mins" "-64 -64 -48"
	"maxs" "64 64 48"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- block climbing generator by saferoom
{
	; invisible block along generator pole
	"origin" "3460 -1324 276"
	"mins" "-6 -6 -115"
	"maxs" "6 6 115"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- avoid jumping onto the roof @ "tank-fight" elevated house
{
	; invisible block on slanted roof
	"origin" "998 7090 370"
	"mins" "0 -112 0"
	"maxs" "146 0 68"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
; --- block hedge jump from roof (with ladder) for easy shortcut
{
	; invisible block above hedge
	"origin" "-272 5152 244"
	"mins" "-1000 0 0"
	"maxs" "38 68 80"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
; --- block jumping from second floor of destroyed house to fence for shortcut
{
	; invisible block above fence
	"origin" "-640 6592 466"
	"mins" "-4 -64 -238"
	"maxs" "4 64 238"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; --- block jumping over hedge at playground
{
	; invisible block over hedge
	"origin" "-1145 6650 244"
	"mins" "-40 0 0"
	"maxs" "40 1000 120"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_player_blocker"
}
; --- block climbing on roof near playground by using tree
{
	; invisible block above tree
	"origin" "-1508 7068 808"
	"mins" "-76 -68 -427"
	"maxs" "76 68 427"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}
; -- block a stuck spot under the front porch of a house
{
	; invisible block
	"origin" "-2022.60 5472.06 140"
	"mins" "0 0 0"
	"maxs" "56 9 100"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	; prop for visual cue that area is blocked
	"solid" "0"
	"origin" "-1987 5483 96"
	"angles" "0 89 0"
	"model" "models/props_fortifications/traffic_barrier001.mdl"
	"classname" "prop_dynamic"
}

; -- prevent survivors from getting tank punched onto the bushes
{
	"origin" "4730 1554 860"
	"mins" "-75 -575 -782"
	"maxs" "75 575 782"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
{
	"origin" "4811 153 788"
	"mins" "-53.5 -505 -723"
	"maxs" "53.5 505 723"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; --- add 2 props for the above blocks as a visual cue

{
	"classname" "prop_dynamic"
	"angles" "0 187 0"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_shrubwall_block_512_deep.mdl"
	"solid" "0"
	"origin" "4877 101 91.37"
}
{
	"classname" "prop_dynamic"
	"angles" "0 187 0"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_shrubwall_block_512_deep.mdl"
	"solid" "0"
	"origin" "4849 561 91.37"
}

; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- prevent SI getting unteleportably stuck behind fence near saferoom
{
	; cardboard boxes near fence
	"solid" "6"
	"origin" "3644 -1736 100"
	"angles" "0 0 0"
	"model" "models/props/cs_militia/boxes_frontroom.mdl"
	"disableshadows" "1"
	"classname" "prop_dynamic"
}
{
	; invisible block above boxes to boost height
	"origin" "3671 -1713 132"
	"angles" "0 -15 0"
	"mins" "-41 -15 -34"
	"maxs" "41 15 42"
	"boxmins" "-41 -15 -34"
	"boxmaxs" "41 15 42"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
; --- prevent SI getting unteleportably stuck behind two hedges near saferoom
{
	; invisible block in hole near hedge (outside fence)
	"origin" "3668 -1664 132"
	"mins" "-60 -32 -36"
	"maxs" "60 32 60"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}
{
	; invisible block in hole near hedge (inside fence)
	"origin" "3408 -1760 144"
	"mins" "-64 -64 -48"
	"maxs" "64 64 48"
	"initialstate" "1"
	"BlockType" "2"
	"classname" "env_physics_blocker"
}

add:
; --- Improve clipping on the fence before map4 one-way drop
{
	"origin" "-988 5792 285"
	"mins" "-4 -136 -22"
	"maxs" "4 136 22"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}

; --- filter out some of the orange cones at the end of the map
filter:
{
	"model" "models/props_fairgrounds/traffic_barrel.mdl"
}

add:
; --- block survivors getting hit onto the fence at end saferoom
{
	"origin" "4397 -1055 815"
	"mins" "-142 -4.5 -720"
	"maxs" "142 4.5 720"
	"initialstate" "1"
	"BlockType" "1"
	"classname" "env_physics_blocker"
}

; =====================================================
;
;     Zonemod Infected Ladder Fixes/Additions
;
; =====================================================
add:
; -- Add Infected ladder for access to the roof above the saferoom.
{
	"model" "*116"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "-1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "9679.96 -682.19 -37.81"
	"angles" "0.00 90.00 0.00"
}
; -- Add Infected ladder to allow access to the roof of the house in the middle of the map, replacing Promod's clunky ladder.
{
	"model" "*119"
	"normal.z" "0.00"
	"normal.y" "-1.00"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1310.42 4693.49 83.42"
	"angles" "0.00 270.00 0.00"
}
; -- Add Infected ladder to allow infected to quickly setup on and around the roof of the final building before the saferoom.
{
	"model" "*171"
	"normal.z" "0.00"
	"normal.y" "0.00"
	"normal.x" "1.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-260.71 -1063.46 -24.48"
	"angles" "0.00 0.00 0.00"
}