; =====================================================
; ===================   Detour Ahead 5   ==============
; =====================================================

; Remove scripts that mess with horde location and density
; tbh there isn't really a noticable difference doing this,
; but this gives me piece of mind that horde density is fair and consistent between teams
modify:
{
	match:
	{
		"targetname" "radio"
	}
	delete:
	{
		"ScriptFile" "cdta_05finalroad_finale"
	}
}
{
	match:
	{
		"targetname" "relay_versus"
	}
	delete:
	{
		"OnTrigger" "directorBeginScriptcdta_05finalroadversus0-1"
	}
}

; Start custom onslaught on plane crash to up common limit
modify:
{
	match:
	{
		"targetname" "planecrash_trigger"
	}
	insert:
	{
		"OnTrigger" "directorBeginScriptcdta_05finalroad_onslaught_promod24-1"
	}
}

;Van to step up on
add:
{
	"solid" "6"
	"origin" "-9175 -11525 855"
	"angles" "0 30 0"
	"model" "models/props_vehicles/van_interior.mdl"
	"classname" "prop_dynamic"
}
;Tent to prevent players from stepping on the concrete base of the fence and hoping back over the van
add:
{
	"solid" "6"
	"origin" "-9055 -11572 855"
	"angles" "0 0 0"
	"model" "models/props_misc/fairground_tent_open.mdl"
	"classname" "prop_dynamic"
}
; pole to prevent running on top of the gate and bypassing the next choke
add:
{
	"solid" "6"
	"origin" "-8858 -11492 800"
	"angles" "0 0 0"
	"model" "models/props_urban/metal_pole001.mdl"
	"classname" "prop_dynamic"
}